/* TYPO */
html, body { font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;margin: 0; padding: 0; border: 0; }
h1 { font-size: 2.2em; line-height:1.5em; font-weight:bold;}
h2 { font-size: 1.9em; line-height:1.2em; font-weight:bold;}
h3 { font-size: 1.6em; line-height:1.0em; font-weight:bold;}

/* LAYOUT */
html
{
    background-color: #FFFFFF;
    background-image: url('layout/BG_pattern.jpg');
    background-repeat: repeat-x;
}

body
{
    background-image: url('layout/BG_body.png'); background-repeat: no-repeat;
}

div#header
{
    /*background-image: url('icons/images/header_BG_ispod_loga.jpg');*/
    /*background-color: #E0DFD5;*/
    height: 160px;
    /*background-repeat: repeat-x;*/
}

div#navigation
{
    background-image: url('icons/images/traka_nav_pattern_03.png');
    /*background-repeat: repeat-x;
    background-color: #15332D;*/
    height:56px;
}

div#content
{
    border:0px;
    /*background-color:#5E7A5C;
    background-position: top;
    background-image: url('icons/images/BG_main.png');
    background-repeat: repeat-x;*/
    z-index:100;
    position:relative;
}

div#prefooter
{
    color:#fff;
    background-image: url('icons/images/BG_footer.png');
    background-repeat: repeat-x;
}

div#footer
{
    padding:30px 0 0 0;
    border-style: solid;
    border-top-color: #999999;
    border-width: 2px 0px 0px 0px;
    background-image: url('icons/images/header_BG_ispod_loga.jpg');
    background-repeat:repeat-x;
    height:160px;
    color: #006e5d;
}

.wrapper{ width:980px; margin: auto;}
.box{padding:40px 20px 20px 20px;}

.content-box 
{
  padding:20px 20px 40px 20px;
  width:1024px; margin: auto;
  box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.1);
  background-color:#fff;
}

.content-box h1
{
    margin: -20px -20px -40px -20px;
    padding: 0 20px 0 30px;
    background-image: url('icons/images/header_BG_ispod_loga.jpg');
    color: #006757;
    text-transform: uppercase;
    font-size: 28px;
    border-bottom: 2px;
    border-bottom-style: solid;
}

.content-box .content  { margin-top:60px; }

.content-box .content h3 { color: #006e5d;font-size: 18px; border-bottom: 2px; border-bottom-style: solid;line-height:2em;}

.content-box .raw { padding:20px 0 20px 0; }

.content-header
{
    background-position: center center;
    min-height: 200px;
    width: 1024px;
    margin: auto;
    text-align: center;
    padding: 110px 0 0 0;
    color: #fff;
    background-image: url('icons/images/grafika_ispod_slogana.png');
    background-repeat: no-repeat;
}

/* ELEMENTS */
a#logo
{
    background-image: url('icons/images/logo.png');
    background-repeat: no-repeat;
    width:203px;
    height:89px;
    text-indent:-5000px;
    display:inline-block;
    margin-top:30px;
}

/* NAVIGATION */
ul#top-nav{ list-style-type: none; margin: 70px 0 0 0; }
ul#top-nav li
{
    float:left; 
}

ul#top-nav li a
{
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #006e5d;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 18px;
    color: #006e5d;
}

ul#top-nav li a:hover { text-decoration:underline;}

ul#bottom-nav{ list-style-type: none; margin: 30px 0 0 0; }
ul#bottom-nav li
{
    float:left; 
}

ul#bottom-nav li a
{
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #006e5d;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 11px;
    color: #006e5d;
}

ul#bottom-nav li a:hover { text-decoration:underline;}

ul#main-nav{ list-style-type: none; margin: auto; }
ul#main-nav li
{
    float:left; 
}

ul#main-nav li a
{
    background-image: url('icons/images/nav_crtica_03.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #fff;
    text-transform:uppercase;
    line-height: 56px;
}

ul#main-nav li a:hover { text-decoration:underline;}