body {
 margin: 0;
 padding: 0;
}

h1 {
 margin: 0;
}

h2 {
 margin: 0 0 40px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* TYPO */
html, body { font-family:'Noticia Text', Arial, serif; margin: 0; padding: 0; border: 0; }
h1, h2, h3, h4, h5 { color:#006757; text-align:center; }
h1 { font-size: 33px; }
h2 { font-size: 22px; }
h3
{
    border-color: #006757;
    text-transform:uppercase;
    font-size: 20px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    line-height:2.2em;
}

h3:before
{
    content: url('layout/strelica_za_naslov_lijeva.png');
    display: block;
    float: left;
    margin-top:19px;
    margin-left:-3px;
}

h3:after
{
    content: url('layout/strelica_za_naslov_desna.png');
    display: block;
    float: right;
    margin-top:19px;
    margin-right:-3px;
}

/* LAYOUT */
html
{
    background-color: #FFFFFF;
    background-image: url('layout/BG_pattern.jpg');
    background-repeat: repeat-x;
}

body
{
    background-position: center top;
    background-image: url('layout/BG_body.png');
    background-repeat: no-repeat;
}

div#header
{
    height: 261px;
}

#navigation
{
    background-image: url('layout/navigacija/pattern_nav.gif');
    background-repeat: repeat-x;
}

div#content
{
    background-color: #FFFFFF;
    padding:40px 20px 40px 20px;
}

div#prefooter
{
    color:#fff;
    background-image: url('icons/images/BG_footer.png');
    background-repeat: repeat-x;
}

div#footer
{
    padding:30px 0 0 0;
    border-style: solid;
    border-top-color: #999999;
    border-width: 2px 0px 0px 0px;
    background-image: url('icons/images/header_BG_ispod_loga.jpg');
    background-repeat:repeat-x;
    height:160px;
    color: #006e5d;
}

.wrapper{ width:980px; margin: auto;}
.box{padding:40px 20px 20px 20px;}

/* ELEMENTS */
a#logo
{
    background-image: url('icons/images/logo.png');
    background-repeat: no-repeat;
    width:203px;
    height:89px;
    text-indent:-5000px;
    display:inline-block;
    margin-top:30px;
}

div.tn-datepicker {margin:0 0 0 340px;}
div.tn-datepicker .calendar
{
    background-position: right center;
    background-image: url('layout/kalendar.png');
    background-repeat: no-repeat;
    width:34px;height:28px;
    margin-right:10px;
    float:left;
}
div.tn-datepicker .input{float:left;}
div.tn-datepicker .print
{
    background-position: right center;
    background-image: url('layout/print.png');
    background-repeat: no-repeat;
    width:34px;height:28px;
    margin-left:70px;
    float:left;
}

/*Table*/
table.default
{
    width:100%;
    border: 1px solid #C0C0C0;
    margin: 20px 0 20px 0;
    color: #006757;
    font-family: "Arial";
    font-size: 13px;
}

table.default thead, table.default tfoot
{
    background: #e6e6e6 url('layout/tablica_pattern.jpg') repeat-x;
    font-weight: bold;
    text-align: center;
    line-height:30px;
    
}
table.default thead tr th, table.default tfoot tr td{padding:0 10px 0 10px;}
table span.value-up
{
    background-image: url('icons/images/poz_gore_strelica_za_tablicu.png');
    background-repeat: no-repeat;
    width:13px;
    height:12px;
    display: inline-block;
}

table span.value-down
{
    background-image: url('icons/images/neg_dolje_strelica_za_tablicu.png');
    background-repeat: no-repeat;
    width:13px;
    height:12px;
    display: inline-block;
}

.center{text-align:center;}
.clearfix
{
    clear:both;
}
/* NAVIGATION */
ul#top-nav{ list-style-type: none; margin: 70px 0 0 0; }
ul#top-nav li
{
    float:left; 
}

ul#top-nav li a
{
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #006e5d;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 18px;
    color: #006e5d;
}

ul#top-nav li a:hover { text-decoration:underline;}

ul#bottom-nav{ list-style-type: none; margin: 30px 0 0 0; }
ul#bottom-nav li
{
    float:left; 
}

ul#bottom-nav li a
{
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #006e5d;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 11px;
    color: #006e5d;
}

ul#bottom-nav li a:hover { text-decoration:underline;}

ul#main-nav{ list-style-type: none; margin: auto; }
ul#main-nav li
{
    float:left; 
}

ul#main-nav li a
{
    background-image: url('icons/images/nav_crtica_03.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #fff;
    text-transform:uppercase;
    line-height: 56px;
}

ul#main-nav li a:hover { text-decoration:underline;}