html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* LAYOUT */
div#header
{
    background-image: url('icons/images/header_BG_ispod_loga.jpg');
    background-color: #fff;
    height: 160px;
    background-repeat: repeat-x;
}

div#navigation
{
    background-image: url('icons/images/traka_nav_pattern_03.png');
    background-repeat: repeat-x;
    background-color: #003300;
    height:56px;
}

div#content
{
    border:0px;
    background-position: top;
    background-image: url('icons/images/BG_main.png');
    background-repeat: repeat-x;
    z-index:100;
    position:relative;
}

div#prefooter
{
    color:#fff;
    background-image: url('icons/images/BG_footer.png');
    background-repeat: repeat-x;
}

div#footer
{
    padding:30px 0 0 0;
    border-style: solid;
    border-top-color: #999999;
    border-width: 2px 0px 0px 0px;
    background-image: url('icons/images/header_BG_ispod_loga.jpg');
    background-repeat:repeat-x;
    height:160px;
}

.wrapper{ width:1024px; margin: auto;}
.box{padding:40px 20px 20px 20px;}
.content-box 
{
  padding:20px 20px 40px 20px;
  width:1024px; margin: auto;
  box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.1);
  background-color:#fff;
}

.content-header
{
  height:140px;
  width:1024px; 
  margin: auto;
  text-align:center;
  padding:50px 0 0 0;
  color:#fff;
}

/* TYPO */
body { font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
h1 { font-size: 2.2em; line-height:1.5em; font-weight:bold;}
h2 { font-size: 1.9em; line-height:1.2em; font-weight:bold;}
h3 { font-size: 1.6em; line-height:1.0em; font-weight:bold;}

p{padding-top:10px;}

/* AGLINEMENT */
.align-r { text-align:right; }
.align-c { text-align:center; }
.align-l { text-align:left; }


/* ELEMENTS */
a#logo
{
    background-image: url('icons/images/logo.png');
    background-repeat: no-repeat;
    width:203px;
    height:89px;
    text-indent:-5000px;
    display:inline-block;
    margin-top:30px;
}

.author { text-align:center; margin:120px 0 0 0; }

/* NAVIGATION */

ul#top-nav{ list-style-type: none; margin: 70px 0 0 0; }
ul#top-nav li
{
    float:left; 
}

ul#top-nav li a
{
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #006e5d;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 18px;
    color: #006e5d;
}

ul#top-nav li a:hover { text-decoration:underline;}

ul#bottom-nav{ list-style-type: none; margin: 30px 0 0 0; }
ul#bottom-nav li
{
    float:left; 
}

ul#bottom-nav li a
{
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #006e5d;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 11px;
    color: #006e5d;
}

ul#bottom-nav li a:hover { text-decoration:underline;}

ul#main-nav{ list-style-type: none; margin: auto; }
ul#main-nav li
{
    float:left; 
}

ul#main-nav li a
{
    background-image: url('icons/images/nav_crtica_03.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #fff;
    text-transform:uppercase;
    line-height: 60px;
}

ul#main-nav li a:hover { text-decoration:underline;}