@model NinjaSoftware.TrzisteNovca.Models.Home.AukcijaTrezorskihZapisaPager
@using System.Collections.Generic
@using NinjaSoftware.TrzisteNovca.Common

@{
    string title = "Aukcije trezorskih zapisa";
    ViewBag.Title = title;
}
<div class="content-header">
    <h1>@title</h1>
</div>
<div class="content-box">
    <table class="default" style="width: 500px">
      <thead>
        <tr>
            <th>
                Datum aukcije
            </th>
            <th>
            </th>
        </tr>
      </thead>
      <tbody>
        @foreach (KeyValuePair<DateTime, string> aukcija in Model.DictionaryDataSource)
        { 
            <tr>
                @{ string path = string.Format("Upload/AukcijaTZ/{0}", aukcija.Value); }
                <td>@aukcija.Key.ToShortDateString()
                </td>
                <td>@Html.ActionLink("Excel datoteka", "AukcijaTrezorskihZapisaDownload", new { fileName = aukcija.Value })
                </td>
            </tr>
        }
      </tbody>
      <tfoot>
        <tr>
            <td colspan="2" style="text-align: center;">
                @Model.GenerateDropDownPagingAndPrevNextHtmlElements(Config.PagerPrefixText())
            </td>
        </tr>      
      </tfoot>
    </table>
</div>
