@model NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses.HtmlPageEntity

@{
    ViewBag.Title = Model.Name;
}

<div class="content-header">
    <h2>Nešto</h2>
</div>
<div class="content-box">
@Html.Raw(Model.Html)
</div>