@model NinjaSoftware.TrzisteNovca.Models.Home.TrgovanjeMjesecRokViewModel
@using NinjaSoftware.TrzisteNovca.Models
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
@{
    string title = string.Format("Trgovanje po rokovima u {0} {1}. godine", Helper.DativMjeseca(Model.Mjesec), Model.Godina);
    ViewBag.Title = title;
}
<div class="content-header">
    <h1>@title</h1>
</div>
<div class="content-box">
    <table>
        <tr>
            <th>
            </th>
            @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
            { 
                <th colspan="2">@trgovanjeVrsta.Name
                </th>
            }
            <th colspan="2">
                UKUPNO
            </th>
        </tr>
        <tr>
            <th>
                Datum
            </th>
            @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
            { 
                <th>
                    Promet
                </th>
                <th>
                    Kamatna
                    <br />
                    stopa (%)
                </th>
            }
            <th>
                Promet
            </th>
            <th>
                Kamatna
                <br />
                stopa (%)
            </th>
        </tr>
        @foreach (TrgovanjeGlavaEntity trgovanjeGlava in Model.TrgovanjeGlavaCollection)
        {
            <tr>
                <td>@Html.ActionLink(trgovanjeGlava.Datum.ToShortDateString(), "TrgovanjeDan", new { date = trgovanjeGlava.Datum.ToString("yyyy-MM-dd") })
                </td>
                @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
                {
                    TrgovanjeStavkaEntity trgovanjeStavka = trgovanjeGlava.TrgovanjeStavkaCollection.
                        Where(ts => ts.TrgovanjeVrstaId == (long)trgovanjeVrsta.TrgovanjeVrstaId).SingleOrDefault();


                    string prometString = "-";
                    string kamatnaStopaString = "-";

                    if (null != trgovanjeStavka)
                    {
                        prometString = trgovanjeStavka.Promet.ToStringInMilions();
                        kamatnaStopaString = trgovanjeStavka.PrometDodatak.ToString("N2");
                    }
            
                    <td>@prometString
                    </td>
                    <td>@kamatnaStopaString
                    </td>
                }
                <td>
                    todo
                </td>
                <td>
                    todo
                </td>
            </tr>
        }
    </table>
</div>
